.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  padding-top: 4rem;

  background: rgba( 255, 255, 255, 0.5 );
  box-shadow: 0 0.5rem 2rem 0 $shadow;
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 1rem;

  z-index: -1;
}

#big_container {
  @extend .container;
  margin: 3rem;

  @media screen and (max-width: 500px){
    margin-bottom: 9rem;
  }
}

#small_container {
  @extend .container;
  margin: 3rem;
  max-width: 35rem;
  margin-inline: auto;

  @media screen and (max-width: 650px){
    margin-inline: 3rem;
  }

  @media screen and (max-width: 500px){
    margin-bottom: 9rem;
  }
}