#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: $header-height;

  margin: $header-margin-mobile;
  padding: 1rem;

  display: flex;
  justify-content: center;

  color: $font-color-primary;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;

  //from https://hype4.academy/tools/glassmorphism-generator
  background: rgba( 255, 255, 255, 0.5 );
  box-shadow: 0 0.5rem 2rem 0 $shadow;
  backdrop-filter: $blur;
  -webkit-backdrop-filter: $blur;
  border-radius: 1rem;

  z-index: 1;

  @include tablet {
    margin: $header-margin-tablet;
  }

  @include laptop {
    display: flex;
    justify-content: space-between;
    margin: $header-margin-laptop;
  }

  .nav {
    display: none;
    a {
      margin-inline: 1rem;
    }
    @include laptop {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
    
  }

  .logo {
    width: auto;
    height: 3rem;

    svg {
      width: auto;
      height: 3rem;

      fill: $main-logo;
    }
  }
}