#welcome {
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column-reverse;

  .description {
    h3 {
      font-size: 1.5rem !important;
      text-align: center;
      margin-bottom: 1.5rem;
    }
    p {
      font-size: 1.25rem !important;
      text-align: center;
      margin-bottom: 1.5rem;
    }
  }

  @include tablet-s {
    max-width: 550px;
    margin: 0 auto;
  }


  @include laptop {
    flex-direction: row;
    max-width: unset;
  }

  .content {
    @include laptop {
      width: 45%;
    }
  }

  .register-btn {
    max-width: 350px;
    margin: 0 auto;
  }

  .image {
    display: block;
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 1rem;

    img {
      width: 100%;
      height: auto;
    }

    @include laptop {
      display: block;
      width: 55%;
      max-width: unset;
    }
  }
}