// Set colors into css variables here.
// When declaring a new color, don't forget
// to declare its SASS variable !

:root {
    --lightblue: lightblue;
    --gray: gray;
    --black: rgb(24, 24, 24);
    --lightgray: rgb(230, 227, 227);

    --cyanprocess: #06BEE1;
    --venetianred: #D01114;
    --royalbluedark: #032877;
    --translucent_black: #0000004d;
    }

$lightblue: var(--lightblue);
$gray: var(--gray);
$lightgray: var(--lightgray);
$black: var(--black);

$cyanprocess: var(--cyanprocess);
$venetianred: var(--venetianred);
$royalbluedark: var(--royalbluedark);
$translucent_black: var(--translucent_black);
