// Containers
$main-padding-block-mobile: 3rem;
$main-padding-inline-mobile: 1rem;
$main-padding-inline-tablet: 2rem;
$main-padding-block-laptop: 3rem;

$header-margin-mobile: 0.5rem;
$header-margin-tablet: 0.75rem;
$header-margin-laptop: 1rem;

$subnav-margin-mobile: $header-margin-mobile;
$subnav-margin-tablet-s: $header-margin-tablet;

$align-container-with-header-footer: calc(100vh - 6rem);

// Header / Footer
