.todo-btn {
    padding: 0.5rem 0.75rem;
    width: 100%;

    color: $font-color-secondary;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;

    background-color: $btn-bg-primary;
    
    border: 0.15rem solid $btn-bg-primary;
    border-radius: 0.75rem;

    display: flex;
    justify-content: center;

    svg {
        fill: $font-color-secondary;
        height: 1rem;
        width: auto;
    }
}

.todo-btn:hover {
    cursor: pointer;
}

.todo-btn-secondary {
    @extend .todo-btn;
    background: #00000000;
    color: $font-color-primary;
    border-color: $font-color-primary;

    svg {
        fill: $font-color-primary;
    }
}

.todo-btn-round {
    @extend .todo-btn;
    border-radius: 10rem;
}

.todo-btn-secondary-round {
    @extend .todo-btn-secondary;
    @extend .todo-btn-round;
}