// -------- Default theme ---------//
//  Loaded by default in app.scss  //
// ------------------------------- //


// Reminder
// Theme files define colors in variables.
// _global.scss and pages use the variables.


$body-bg: $lightblue;

$font-color-primary: $royalbluedark;

$font-color-secondary: $white; 

$btn-bg-primary: $cyanprocess;

$main-logo: $venetianred;

$shadow: $translucent_black;
